<div class="row my-3">
  <div class="col-12">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <!-- The slideshow -->
      <div class="carousel-inner text-center">
        <div [ngClass]="i==0 ? 'carousel-item active' : 'carousel-item'" *ngFor="let haber of haberler; index as i;">
          <a routerLink="/HaberDetay/{{haber.id}}">
            <img src="{{ haber.image }}" />
            <div class="carousel-caption">
              <h3 class=haberTitle>{{ haber.title }}</h3>
              <p class="haberSnippet">{{ haber.snippet }}</p>
            </div>
          </a>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-4 mb-3" *ngFor="let haber of haberler; index as i;">
    <a routerLink="/HaberDetay/{{haber.id}}">
      <img src="{{ haber.image }}" height="400" alt="" class="img-fluid" />
      <div class="miniHaberDiv">
        <h4 class="h5 haberTitle">{{ haber.title.length > 35 ? haber.title.substring(0,35)+"..." : haber.title }}</h4>
        <p class="haberSnippet">{{ haber.snippet.substring(0,40) }}...</p>
      </div>
    </a>
  </div>
</div>